__pycache__/
*.py[cod]
.env/
.venv/
venv/
ENV/
.vscode/
build/
dist/
*.egg-info/
.eggs/
*.log
instance/
.webassets-cache
.ipynb_checkpoints/
htmlcov/
.coverage
db.sqlite3
Thumbs.db
.DS_Store
static/*.tmp