{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{%block include %}
    <!--rangeSlider-->
    <script src="https://cdn.jsdelivr.net/npm/range-slider-input@2.4/dist/rangeslider.umd.min.js"></script>

    <!-- js colorpicker -->
    <script src="{{ url_for('static', filename='js/colorpicker/colorpicker.iife.js')}}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/colorpicker.min.css')}}" />

    <!--tinycolor-->
    <script src="{{ url_for('static', filename='js/tinycolor-min.js')}}"></script>

    <!--page-specific js-->
    <script src="{{ url_for('static', filename='js/index.js')}}"></script>

{% endblock %}

{% block main %}
    <h1>Paint colour comparison tool</h1>
    <!-- COLOUR CHOOSER -->
    <div id="colour-chooser" class="container border border-dark rounded mb-2 py-2 constrain-md">
        <p class="text-start d-none d-md-block">Choose a reference colour using the colour picker, or pick a saved colour if you are logged in. Adjust the colour, if desired, using the saturation and luminance sliders. Paint colours that are similar to the adjusted colour will be displayed below.</p>
        <div class="row justify-content-center">
            <div class="col-md px-3 ">
                <div class="row justify-content-center align-items-center">
                    <div class="col-1 text-end p-0" data-bs-toggle="tooltip" data-bs-title="How does it work?">
                        <button type="button" class="d-md-none btn btn-secondary px-2 py-1" data-bs-toggle="modal" data-bs-target="#helpModal"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-lg" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M4.475 5.458c-.284 0-.514-.237-.47-.517C4.28 3.24 5.576 2 7.825 2c2.25 0 3.767 1.36 3.767 3.215 0 1.344-.665 2.288-1.79 2.973-1.1.659-1.414 1.118-1.414 2.01v.03a.5.5 0 0 1-.5.5h-.77a.5.5 0 0 1-.5-.495l-.003-.2c-.043-1.221.477-2.001 1.645-2.712 1.03-.632 1.397-1.135 1.397-2.028 0-.979-.758-1.698-1.926-1.698-1.009 0-1.71.529-1.938 1.402-.066.254-.278.461-.54.461h-.777ZM7.496 14c.622 0 1.095-.474 1.095-1.09 0-.618-.473-1.092-1.095-1.092-.606 0-1.087.474-1.087 1.091S6.89 14 7.496 14"/>
                        </svg></button>
                    </div>
                    <div class="col-10 p-0">
                        <h3 class="display-6">Reference colour</h3>
                    </div>
                    <div class="col-1"></div>
                </div>
                <div class="row mb-2">
                    <div id="selected-colour" class="container colour-ref w-100 py-1 border border-dark rounded">
                        <div class="row mb-2">
                            <div  class="col col-2 text-start px-1"  data-bs-toggle="tooltip" data-bs-title="Add reference colour to saved colours">
                                <button id="save-reference-colour" class="add-saved-colour border p-0 btn btn-light border-dark rounded" colour="#ffffff"  hidden>
                                    {% if current_user.is_anonymous == false %}
                                        <img src="{{ heart }}" class="m-1">
                                    {% endif %}
                                </button>
                            </div>
                            <div class="col-8 text-center">
                                {% if current_user.is_anonymous %}
                                    <form action ="/login",  method="post">
                                        <button id="login-for-fav" class="border mt-4 mb-1 btn btn-light border-dark rounded select-fav mt-1" data-bs-toggle="tooltip" data-bs-title="Choose from your saved colours">
                                            Login for saved colours.
                                        </button>
                                    </form>
                                {% else %}
                                    <button id="select-saved-colour" class="border mt-4 mb-1 btn btn-light border-dark rounded select-fav mt-1 ">
                                        Saved colours <img src="{{ heart }}">
                                    </button>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col">
                                <button id="picker" class="color-picker" >
                            </div>
                        </div>
                    </div><!--end #selected_colour-->
                </div><!--end .row-->
            </div><!--end .col-->
            <div class="col-md px-3 hide-initial">
                <div class="row ">
                    <h3 class="display-6">Adjusted colour</h3>
                </div>
                <div class="row mb-3">
                    <div id="adjusted-colour" class="colour-ref py-1 w-100 border border-dark rounded">
                        <div class="row mb-2">
                            <div  class="col col-2 text-start px-1"  data-bs-toggle="tooltip" data-bs-title="Add adjusted colour to saved colours">
                                <button id="save-adjusted-colour" class="add-saved-colour border p-0 btn btn-light border-dark rounded" colour="#ffffff" hidden> 
                                    {% if current_user.is_anonymous == false %}
                                        <img src="{{ heart }}" class="m-1">
                                    {% endif %}
                                </button>
                            </div>
                        </div>
                    </div>
                </div><!--end .row-->
            </div><!--end .col-->
        </div><!--end .row-->
        <div class="row hide-initial" id="adjustments">
            <div class="row align-items-end mb-2 ">
                <div class="col-3 text-end">
                    <label for="hue">Hue: </label>
                </div>
                <div class="col-3">
                    <input id="hue" class="border-dark border rounded w-100" value=0 max="360" min="0" step="1">
                </div>
                <div class="col-6 ">
                    <button id="reset" class="btn btn-secondary border-dark border rounded" data-bs-toggle="tooltip" data-bs-title="Reset adjusted colour to reference colour">Reset adjusted colour</button>
                </div>
            </div>
            <div class="row mb-2 ">
                <div class="col-3 text-end">
                    <label for="saturation">Saturation:</label>
                </div>
                <div class="col-3">
                    <input id="saturation" class="border-dark border rounded w-100" min="0" max="100" step="1">
                </div>
                <div class="col-6">
                    <div id="saturation-slider"></div>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-3 text-end">
                    <label for="luminance">Luminance:</label>
                </div>
                <div class="col-3">
                    <input id="luminance" class="border-dark border rounded w-100" min="0" max="100" step="1">
                </div>
                <div class="col-6">
                    <div id="luminance-slider"></div>
                </div>
            </div><!--end .row-->
        </div><!--end #adjustments-->
    </div><!--end .container-->

    <!-- FILTERS AND PAINTS LIST-->
    <div id="filter-block" class="hide-initial container py-2 border border-dark rounded constrain-lg">
        <div class="container mb-2">
            <div class="row justify-content-center align-items-center">
                <div class="col-2 text-end p-0"  data-bs-toggle="tooltip" data-bs-title="How does it work?">
                    <button type="button" class="d-md-none btn btn-secondary px-2 py-1" data-bs-toggle="modal" data-bs-target="#helpFilterModal"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-lg" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M4.475 5.458c-.284 0-.514-.237-.47-.517C4.28 3.24 5.576 2 7.825 2c2.25 0 3.767 1.36 3.767 3.215 0 1.344-.665 2.288-1.79 2.973-1.1.659-1.414 1.118-1.414 2.01v.03a.5.5 0 0 1-.5.5h-.77a.5.5 0 0 1-.5-.495l-.003-.2c-.043-1.221.477-2.001 1.645-2.712 1.03-.632 1.397-1.135 1.397-2.028 0-.979-.758-1.698-1.926-1.698-1.009 0-1.71.529-1.938 1.402-.066.254-.278.461-.54.461h-.777ZM7.496 14c.622 0 1.095-.474 1.095-1.09 0-.618-.473-1.092-1.095-1.092-.606 0-1.087.474-1.087 1.091S6.89 14 7.496 14"/>
                    </svg></button>
                </div>
                <div class="col-8">
                    <h3 class="display-6">Find paint colours</h3>
                </div>
                <div class="col-2"></div>
            </div>
        </div>
        <p class="text-start d-none d-md-block">Paints with analogous colours to the adjusted colour are shown by default. In Filters, you can choose complementary and triadic colours. You can cntrol how the relevance is calculated in Settings.</p>
        <div id= "list-section" >
            <div class="container text-center  mb-3">
                <div class="row justify-content-center">
                    <div class="col-9 text-start p-0">
                         {% include "index-filter.html" %}                     
                    </div>
                    <div class="col-3 text-end">
                        <!-- Button trigger settings modal -->
                        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#settingsModal">
                            Settings
                        </button>
                    </div>
                </div>
            </div>

            <!--ITEMS-->
            <div id="paints" class="container ">
                <div class="row fw-bold justify-content-center table-headings mb-2" >
                    <div class="col-4">Paint name</div>
                    <div class="col-5">Colour</div>
                    <div class="col-3 text-end">Relevance</div>
                </div>
                <div id="no-results" hidden>No paints found.</div>
                <div class="spinner"></div>
                <div id="paints-list">
                    <div id="template" hidden class="row item-card justify-content-center align-items-center py-1 mb-2 rounded" >
                        <div class="col-4 ">
                            <div class="row">
                                <div class="brand-name col-12 col-md-5 p-1 p-1"></div>
                                <div class="paint-name col-12 col-md-5 p-1 p-1"></div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="row">
                                {% if current_user.is_anonymous%}
                                    <div class="col-12 col-md-7 p-0" >
                                        <button type="button" class="colour-holder compare btn w-100 h-100 border border-dark rounded" data-bs-toggle="tooltip" data-bs-title="Compare with reference/adjusted colours"></button>
                                    </div>
                                {% else %}
                                    <div class="col-10 col-md-5 p-0" >
                                        <button type="button" class="colour-holder compare btn w-100 h-100 border border-dark rounded" data-bs-toggle="tooltip" data-bs-title="Compare with reference/adjusted colours"></button>
                                    </div>
                                    <div class="col-2 p-1" >
                                        <button type="button" class="save-paint p-0 btn w-auto border border-dark rounded" data-bs-toggle="tooltip" data-bs-title="Add to saved paints">
                                            <img class="m-1" src="{{ heart }}">
                                        </button>
                                    </div>
                                {% endif %}
                                <div class="hsl col-12 col-md-5 p-1 small"></div>
                            </div>
                        </div>    
                        <div class="col-2 p-1">
                            <div class="row">
                                <div class="col">
                                    <div class="relevance"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="hue-type small">Analogous</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--end #paints-->
        </div><!--end .list-section-->
    </div><!--end #filter-block-->

    {% include "index-modals.html" %}
{% endblock %}
