<div class="dropdown">
    <button id="sort-button" class="btn w-100 btn-secondary dropdown-toggle p-1" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Relevance
    </button>
    <ul id="sort-dropdown" class="dropdown-menu  dropdown-menu-end">
        <li><button id="sort-1" class="sort-option dropdown-item" type="button">Relevance</a></li>
        <li><button id="sort-2" class="sort-option dropdown-item" type="button">Hue difference</a></li>
        <li><button id="sort-3" class="sort-option dropdown-item" type="button">Saturation difference</a></li>
        <li><button id="sort-4" class="sort-option dropdown-item" type="button">Luminance difference</a></li>
    </ul>
</div>