{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{%block include %}
    <!--rangeSlider-->
    <script src="https://cdn.jsdelivr.net/npm/range-slider-input@2.4/dist/rangeslider.umd.min.js"></script>

    <!-- js colorpicker -->
    <script src="{{ url_for('static', filename='js/colorpicker/colorpicker.iife.js')}}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/colorpicker.min.css')}}" />

    <!--tinycolor-->
    <script src="{{ url_for('static', filename='js/tinycolor-min.js')}}"></script>

    <!--page-specific js-->
    <script src="{{ url_for('static', filename='js/index.js')}}"></script>

{% endblock %}

{% block main %}
    <h1>Paint colour comparison tool</h1>
    <!-- COLOUR CHOOSER -->
    <div id="colour-chooser" class="container border border-dark rounded mb-2 py-2">
        <p class="text-start d-none d-md-block">Choose a reference colour using the colour picker, or pick a saved colour if you are logged in. Adjust the colour, if desired, using the saturation and luminance sliders. Paint colours that are similar to the adjusted colour will be displayed below.</p>
        <div class="row justify-content-center mb-2">
            <div class="order-first col-1 d-md-none text-end" data-bs-toggle="tooltip" data-bs-title="How does it work?">
                <button type="button" class="btn btn-secondary px-2 py-1" data-bs-toggle="modal" data-bs-target="#helpModal"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="mb-1 bi bi-question-lg" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M4.475 5.458c-.284 0-.514-.237-.47-.517C4.28 3.24 5.576 2 7.825 2c2.25 0 3.767 1.36 3.767 3.215 0 1.344-.665 2.288-1.79 2.973-1.1.659-1.414 1.118-1.414 2.01v.03a.5.5 0 0 1-.5.5h-.77a.5.5 0 0 1-.5-.495l-.003-.2c-.043-1.221.477-2.001 1.645-2.712 1.03-.632 1.397-1.135 1.397-2.028 0-.979-.758-1.698-1.926-1.698-1.009 0-1.71.529-1.938 1.402-.066.254-.278.461-.54.461h-.777ZM7.496 14c.622 0 1.095-.474 1.095-1.09 0-.618-.473-1.092-1.095-1.092-.606 0-1.087.474-1.087 1.091S6.89 14 7.496 14"/>
                </svg></button>
            </div>
            <div class="order-1 col-11 col-md-6 col-xl-3 p-0 text-center">
                <h3 class="display-6">Reference colour</h3>
            </div>
            <div class="order-3 order-md-2 col-12 col-md-6 col-xl-3 px-3 text-center">
                <h3 class="display-6">Adjusted colour</h3>
            </div>
            <div class="d-none d-xl-block order-xl-3 col-xl-6"></div>
            <div class="order-2 order-md-3 order-xl-4 col-12 col-md-6 col-xl-3 px-3 mb-3">
                <div id="selected-colour" class="colour-ref w-100 px-3 py-2 border border-dark rounded">
                    <div class="row mb-2">
                        <div  class="col col-2 text-start px-1"  data-bs-toggle="tooltip" data-bs-title="Add reference colour to saved colours">
                            <button id="save-reference-colour" class="add-saved-colour border p-0 btn btn-light border-dark rounded" colour="#ffffff"  hidden>
                                {% if verified %}
                                    <img src="{{ heart }}" class="m-1">
                                {% endif %}
                            </button>
                        </div>
                        <div class="col-8 px-0 text-center">
                            {% if current_user.is_anonymous %}
                                <form action ="/login",  method="post">
                                    <button id="login-for-fav" class="border mt-4 mb-1 btn btn-light border-dark rounded select-fav mt-1" data-bs-toggle="tooltip" data-bs-title="Login or register" >
                                        Login for saved colours.
                                    </button>
                                </form>
                            {% elif verified %}
                                <button id="select-saved-colour" class="border mt-4 mb-1 btn btn-light border-dark rounded select-fav mt-1 "  data-bs-toggle="tooltip" data-bs-title="Choose from your saved colours">
                                    Saved colours <img src="{{ heart_fill }}">
                                </button>
                            {% else %}
                                <form action ="/email_not_verified",  method="get">
                                    <button id="verify-email" class="border mt-4 mb-1 btn btn-light border-dark rounded select-fav mt-1" data-bs-toggle="tooltip" data-bs-title="Verify email address" >
                                        To save colours, finish setting up your account.
                                    </button>
                                </form>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col">
                            <button id="picker" class="color-picker" >
                        </div>
                    </div>
                </div><!--end #selected_colour-->
            </div>
            <div class="order-4 order-xl-5 col-12 col-md-6 col-xl-3 px-3 mb-3">
                <div id="adjusted-colour" class="colour-ref px-3 py-2 w-100 border border-dark rounded">
                    <div class="row mb-2">
                        <div  class="col col-2 text-start px-1"  data-bs-toggle="tooltip" data-bs-title="Add adjusted colour to saved colours">
                            <button id="save-adjusted-colour" class="add-saved-colour border p-0 btn btn-light border-dark rounded" colour="#ffffff" hidden> 
                                {% if verified %}
                                    <img src="{{ heart }}" class="m-1">
                                {% endif %}
                            </button>
                        </div>
                    </div>
                </div>
            </div>       
            <div class="order-last  col-12 col-xl-6 hfide-initial" id="adjustments">
                <div class="row justify-content-center align-items-end mb-2 ">
                    <div class="col-3 col-sm-2 text-end">
                        <label for="hue">Hue: </label>
                    </div>
                    <div class="col-2">
                        <input id="hue" class="border-dark border rounded w-100" value=0 max="360" min="0" step="1">
                    </div>
                    <div class="col-6 ">
                        <button id="reset" class="btn btn-secondary border-dark border rounded" data-bs-toggle="tooltip" data-bs-title="Reset adjusted colour to reference colour">Reset adjusted colour</button>
                    </div>
                </div>
                <div class="row justify-content-center mb-2 ">
                    <div class="col-3 col-sm-2 text-end">
                        <label for="saturation">Saturation:</label>
                    </div>
                    <div class="col-2">
                        <input id="saturation" class="border-dark border rounded w-100" min="0" max="100" step="1">
                    </div>
                    <div class="col-6  pe-5 pe-sm-2">
                        <div id="saturation-slider"></div>
                    </div>
                </div>
                <div class="row justify-content-center mb-2">
                    <div class="col-3 col-sm-2 text-end">
                        <label for="luminance">Luminance:</label>
                    </div>
                    <div class="col-2">
                        <input id="luminance" class="border-dark border rounded w-100" min="0" max="100" step="1">
                    </div>
                    <div class="col-6  pe-5 pe-sm-2">
                        <div id="luminance-slider"></div>
                    </div>
                </div><!--end .row-->
            </div><!--end #adjustments-->
        </div><!--end .row -->
    </div><!--end .container-->

    <!-- FILTERS AND PAINTS LIST-->
    <div id="filter-block" class="hide-initial container py-2 border border-dark rounded ">
        <div class="container mb-2">
            <div class="row justify-content-center align-items-center">
                <div class="col-2 text-end p-0"  data-bs-toggle="tooltip" data-bs-title="How does it work?">
                    <button type="button" class="d-md-none btn btn-secondary px-2 py-1" data-bs-toggle="modal" data-bs-target="#helpFilterModal"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="mb-1 bi bi-question-lg" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M4.475 5.458c-.284 0-.514-.237-.47-.517C4.28 3.24 5.576 2 7.825 2c2.25 0 3.767 1.36 3.767 3.215 0 1.344-.665 2.288-1.79 2.973-1.1.659-1.414 1.118-1.414 2.01v.03a.5.5 0 0 1-.5.5h-.77a.5.5 0 0 1-.5-.495l-.003-.2c-.043-1.221.477-2.001 1.645-2.712 1.03-.632 1.397-1.135 1.397-2.028 0-.979-.758-1.698-1.926-1.698-1.009 0-1.71.529-1.938 1.402-.066.254-.278.461-.54.461h-.777ZM7.496 14c.622 0 1.095-.474 1.095-1.09 0-.618-.473-1.092-1.095-1.092-.606 0-1.087.474-1.087 1.091S6.89 14 7.496 14"/>
                    </svg></button>
                </div>
                <div class="col-8">
                    <h3 class="display-6">Find paint colours</h3>
                </div>
                <div class="col-2"></div>
            </div>
        </div>
        <p class="text-start d-none d-md-block">Paints with analogous colours to the adjusted colour are shown by default. In Filters, you can choose complementary and triadic colours. You can control how the relevance is calculated in Settings.</p>
        <div id= "list-section" class="container">            
            <div class="row">
                <div id="selected-options" class="order-1 col-12 col-lg-9 mb-2 px-0 text-start">
                    <button class="selected-option template m-1 p-1 border border-dark rounded" data-bs-toggle="tooltip" data-bs-title="Remove filter" hidden>
                        <span class="option-name px-1"></span>
                        <span class="option-close px-1" ><img src="{{ cross }}" class="mb-1"></span>
                    </button>
                </div>
                <div class="order-3 order-lg-2 col-12 col-sm-3 col-md-2 col-lg-3 px-0 mb-2 text-end">
                    {% include "index-sort.html" %} 
                </div>
                <div class="order-2 order-lg-3 col-12 col-sm-9 col-md-10 col-lg-4 mb-2 mb-sm-0 mb-lg-2 px-0 pe-sm-3 text-start">
                    {% include "index-filter.html" %}                     
                </div>                       
                   

                <!--ITEMS-->
                <div id="paints" class="order-4 col-12 col-lg-8 ">                    
                    <div id="no-results" hidden>No paints found.</div>
                    <div class="spinner"></div>
                    <div id="paints-list">
                        <div id="template" hidden class="row item-card justify-content-center align-items-center py-1 mb-2 rounded" >
                            <div class="col-4 ">
                                <div class="row">
                                    <div class="brand-name col-12 col-md-5 p-1 p-1"></div>
                                    <div class="paint-name col-12 col-md-5 p-1 p-1"></div>
                                </div>
                            </div>
                            <div class="col-5 col-sm-6">
                                <div class="row">
                                    {% if verified==false %}
                                        <div class="col-12 col-md-7 p-0" >
                                            <button type="button" class="colour-holder compare btn w-100 h-100 border border-dark rounded" data-bs-toggle="tooltip" data-bs-title="Compare with reference/adjusted colours"></button>
                                        </div>
                                    {% else %}
                                        <div class="col-10 col-md-5 p-0" >
                                            <button type="button" class="colour-holder compare btn w-100 h-100 border border-dark rounded" data-bs-toggle="tooltip" data-bs-title="Compare with reference/adjusted colours"></button>
                                        </div>
                                        <div class="col-2 p-1" >
                                            <button type="button" class="save-paint p-0 btn w-auto border border-dark rounded" data-bs-toggle="tooltip" data-bs-title="Add to saved paints">
                                                <img class="m-1" src="{{ heart }}">
                                            </button>
                                        </div>
                                    {% endif %}
                                    <div class="hsl col-12 col-md-5 p-1 small"></div>
                                </div>
                            </div>    
                            <div class="col-3 col-sm-2 p-1">
                                <div class="row">
                                    <div class="col">
                                        <div class="relevance"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="hue-type small">Analogous</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--end #paints-->
            </div><!--end .row-->
        </div><!--end #list-section-->
    </div><!--end #filter-block-->

    {% include "index-modals.html" %}
{% endblock %}
